venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.log
*.pot
*.mo
*.db
*.sqlite3
*.sqlite
*.DS_Store
.idea/
.vscode/
